.Logo {
  width: 26rem;
  max-width: 100%;
}

.introBlock {
  backdrop-filter: blur(5px);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.introPara {
  font-weight: 300;
  font-size: 1.2rem;
  margin: 3rem 0;
}

.HomeScreen {
  text-align: center;
  background-color: rgba(255, 224, 49, 1);
  background-image: url("../../../images/home-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  position: relative;
}

.hscrInput {
  font-weight: 300;
  border-radius: 25px;
  border: 4px solid rgba(255, 198, 10, 0.767);
  box-sizing: border-box;
  width: 100%;
  padding: 10px 20px;
  outline: none;
}

.hscrInput:focus {
  border-color: rgba(255, 198, 10, 0.959);
}

.content {
  margin-top: 45px;
  color: rgb(63, 55, 10);
}

.content h4 {
  color: rgb(255, 251, 219);
  text-shadow: 1px 1px 2px black;
  font-size: 1.8rem;
}

.content a {
  text-decoration: none;
  color: rgb(43, 39, 18);
  font-weight: normal;
}

@media (max-width: 500px) {
  .content {
    margin-top: 15px;
  }
}
