.content {
  max-height: 90vh;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.Logo {
  width: 26rem;
  max-width: 100%;
}

.introBlock {
  /* backdrop-filter: blur(5px); */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 70vh;
}

.imgCont {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tagsCont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.introPara {
  font-size: 2.5rem;
  margin: 3rem 0;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  width: 80%;
  color: #313131;
}

.searchBar {
  width: 85%;
}

.HomeScreen {
  text-align: center;
  /* background-color: rgb(255, 224, 49); */
  background-image: linear-gradient(282.24deg, #edf8ff 6.05%, #f3eeee 98.89%);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  position: relative;
}

.hscrInput {
  font-weight: 300;
  border-radius: 25px;
  border: 4px solid rgba(255, 198, 10, 0.767);
  box-sizing: border-box;
  width: 100%;
  padding: 10px 20px 10px 60px;
  outline: none;
}

.hscrInput:focus {
  border-color: rgba(255, 198, 10, 0.959);
}

.content {
  /* margin-top: 10vh; */
  color: rgb(63, 55, 10);
}

.content h4 {
  color: rgb(255, 251, 219);
  text-shadow: 1px 1px 2px black;
  font-size: 1.8rem;
}

.content a {
  text-decoration: none;
  color: rgb(43, 39, 18);
  font-weight: normal;
}

.cardContainer {
  width: 100%;
  padding-left: calc((50% - 165px) / 2);
}

.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 9px;
  border: 5px solid #fff;
  box-shadow: -5.58442px -4.46753px 4.46753px rgba(255, 255, 255, 0.26),
    3.35065px 5.58442px 8.93507px rgba(117, 222, 255, 0.07);
}

.todoinput,
.todobtn {
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 9px;
}

.todoinput {
  width: 100%;
}

.todobtn {
  background: #fed75c;
}

.todobtn:hover {
  background: #fff061;
}

.threetagscontainer {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tagcontainer {
  width: 30%;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 9px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.85);
}

.threetags {
  display: flex;
  font-size: 1.2rem;
  align-items: center;
}

.tagname {
  margin: 0;
  font-weight: 400;
  color: #555;
}

.tagimg {
  margin-right: 2rem;
  width: 2rem;
  height: 2rem;
}

@media (max-width: 1210px) {
  .hsimg {
    width: 85%;
  }
}

@media (max-width: 710px) {
  .introBlock {
    margin-top: 10rem;
    justify-content: flex-end;
  }
  .hsimg {
    height: 50%;
  }
  .imgCont {
    align-items: flex-start;
  }
}

@media only screen and (max-width: 500px) {
  .content {
    margin-top: 5px;
  }

  .wrapper {
    flex-direction: column;
  }

  .imgCont > img {
    width: 90vw;
  }

  .introPara {
    width: 100%;
    font-size: 2.5rem;
  }

  .searchBar {
    width: 100%;
  }

  .cardContainer {
    width: 100%;
    padding: 0 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
