.AppNav {
  min-height: 15vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 5rem;
}

@media (max-width: 550px) {
  .AppNav {
    min-height: 5vh;
    padding: 0;
  }
}
