.NavBar {
  /* -webkit-box-shadow: 0px -10px 25px 0px rgba(50, 50, 50, 0.26);
  -moz-box-shadow: 0px -10px 25px 0px rgba(50, 50, 50, 0.26);
  box-shadow: 0px -10px 25px 0px rgba(50, 50, 50, 0.26); */
  padding: 0.55rem 4.5rem;
  background-color: #fff;
  transition: all 0.4s;
  font-weight: 500;
  color: #000000;
  /* margin-right: 1rem; */
  font-family: "Poppins", sans-serif;
}

.Nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.NavLink {
  color: #000000;
  cursor: pointer;
}

.NavLink:hover {
  color: #000000;
  text-decoration: underline;
}

.YellowLink {
  background: #fed75c;
  border-radius: 8px;
  font-weight: 600;
}

.NavItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 550px) {
  .NavBar {
    padding: 0.55rem 1.5rem;
  }

  .NavItem {
    padding: 3px;
  }

  .Nav {
    flex-direction: column;
  }
}
