.MainBody {
  background-color: #ffffff;
  border-radius: 3rem;
  min-height: 90%;
}

.Header_wrapper {
  border-radius: 2.25rem;
  margin: 0;
}

.Header {
  padding: 1rem 5.6rem 1rem 0;
  border-radius: 2.25rem;
  box-shadow: rgba(50, 50, 50, 0.56) 1px 1px 5px 0px;
  color: rgb(233, 233, 233);
  /* text-shadow: 0.5px 0.5px 2px rgb(255, 246, 246); */
  text-shadow: 0.5px 0.5px 2px #000;
}

.Navbar {
  margin-bottom: 3rem;
  font-size: 1.1rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.Badge {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  margin-right: 1rem;
  background-color: #ffffff;
  border: #edf8ff 2px solid;
  text-shadow: none;
}

.Dashboard {
  font-size: 2rem;
  overflow-x: hidden;
  margin: 0;
  /* padding-left: 1rem; */
}

.Title {
  font-size: 1.45rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0;
}

.Enrol {
  font-size: 1.1rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.Enrolled {
  color: #ffe031;
}

.Enrolled > img {
  max-height: 1.1rem;
  margin-top: -4px;
  margin-left: 5px;
}

.Enrol_span {
  position: absolute;
  right: 0;
}

.Enrol_button {
  padding: 5px 12px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #bfe6ff;
  border: none;
  border-radius: 10px;
  text-shadow: 0.5px 0.5px 2px rgb(97, 97, 97);
  box-shadow: rgba(50, 50, 50, 0.56) 1px 1px 5px 0px;
}

.Enrol_button:hover {
  color: #bfe6ff;
  background-color: white;
}

@media only screen and (max-width: 550px) {
  .Navbar {
    margin-bottom: 0.3rem;
  }

  .Enrol_span {
    position: relative;
    left: 0;
  }
}
