.MainBody {
  background-color: #ffffff;
  border-radius: 3rem;
  min-height: 90%;
}

.Header_wrapper {
  border-radius: 2.25rem;
}

.Header {
  padding: 1rem 5.6rem 1rem 0;
  border-radius: 2.25rem;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.12);
  color: rgb(207, 207, 0);
  text-shadow: 0.5px 0.5px 2px rgb(255, 246, 246);
}

.Navbar {
  margin-bottom: 3rem;
  font-size: 1.1rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.Badge {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  margin-right: 1rem;
  background-color: #ffffff;
}

.BackButton {
  height: 2.2rem;
  padding: 6px 1rem;
  border-radius: 20px;
  border-style: none;
  background-color: #ffffff;
  box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.16);
  position: relative;
  transition: all 0.1s ease-out;
  text-decoration: none;
}

.BackButton:hover,
.BackButton:focus {
  transform: translateY(-2px) scale(1.01) translateZ(0);
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.2);
}

.BackButton:active {
  transform: scale(1) translateZ(0);
  box-shadow: 0 7.5px 12px rgba(0, 0, 0, 0.15);
}

.BackButton:focus {
  outline: none;
}

.BackButton > img {
  height: 100%;
}

.Dashboard {
  font-size: 2rem;
  padding-left: 1rem;
}

.Title {
  font-size: 1.75rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: 0;
}

/* .Avatar {
  height: 2.5rem;
  margin-left: 1rem;
}

.Avatar img {
  height: 2.5rem;
} */

.Enrol {
  font-size: 1.1rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.Enrolled {
  color: #ffe031;
}

.Enrolled > img {
  max-height: 1.1rem;
  margin-top: -4px;
  margin-left: 5px;
}
