/* .Body {
  background-color: #ffe031;
  height: 100%;
}

.MainBody {
  background-color: #ffffff;
  border-radius: 3rem;
  min-height: 90%;
} */

/* .Body {
  background-color: #ffe031;
  height: 100%;
} */

.MainBody {
  background-image: linear-gradient(rgb(255, 224, 49), rgb(255, 229, 83));
  height: 100vh;
}

@media only screen and (max-width: 550px) {
  .MainBody {
    height: 100%;
  }
}
