.root {
  text-align: center;
}

.App {
  text-align: center;
  background-image: linear-gradient(282.24deg, #edf8ff 6.05%, #f3eeee 98.89%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  position: relative;
}

/* @media (max-width: 500px) {
  .App {
    background-size: 500% 120vh;
    background-position: 50% 50%;
    height: 100%;
    background-attachment: scroll;
  }
} */
