.Body {
  /* background-image: url("../../images/coursesback.png"); */
  background-color: #edf8ff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-bottom: 5%;
  padding-top: 5%;
}

.Container {
  background-color: rgb(255, 255, 255);
  margin-top: 5%;
  border-radius: 30px;
  margin-bottom: 5%;
  min-height: 50vh;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.56);
  -moz-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.56);
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.56);
}

.Heading {
  padding-top: 3%;
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 550px) {
  .Body {
    padding-top: 13vh;
  }

  .Container {
    width: 90%;
  }
}
